DEBUG=True
ASSETS_DEBUG=False
SNAME='Сфинкс'
SDESC='Сайт для ведения текстовых блогов.'
ITITLE=' Записки Сфинкса'
SDATE=2024
SECRET_KEY='secret key'
SESSION_LIFETIME=2592000
FILE_MAX_AGE=3600
DBUSER=jazz
DB=webjournal
DSN='postgres://jazz:aa@localhost:5432/webjournal'
