DEBUG=True
ASSETS_DEBUG=False
SNAME='Архив Сфинкса'
SDESC='Сайт для ведения текстовых блогов.'
ITITLE=' Бортовой журнал отражений'
SDATE=2024
SECRET_KEY='secret key'
SESSION_LIFETIME=2592000
FILE_MAX_AGE=3600
DBUSER=jazz
DB=webjournal
DSN='postgres://jazz:aa@localhost:5432/webjournal'
REDI='redis://localhost:6379/0'
SECURE=True
REGPERM=True
RINTERVAL=1
TLENGTH=1
MAIL_SERVER=smtp.yandex.ru
MAIL_PORT=465
MAIL_USE_SSL=True
MAIL_USERNAME=avm4dev
MAIL_PASSWORD=#############
SUBJECT_PREFIX='[Sphinx] '
SENDER='robot <avm4dev@yandex.ru>'
USERS_PER_PAGE=5
ALIASES_PER_PAGE=3
ALBUMS_PER_PAGE=3
PICTURES_PER_PAGE=3
ARTS_PER_PAGE=3
ANNS_PER_PAGE=3
