{% extends "base.html" %}
{%- from "macros/_common.html" import show_pv -%}
{%- from "macros/_announces.html" import show_announce -%}

{%- block title_part -%}Ваши объявления{%- endblock title_part -%}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/announces/announces.css',
             'css/base.css',
             'css/menu.css',
             'css/page-content.css',
             'css/flashed-error.css',
             'css/flashed-alert.css',
             'css/today-field.css',
             'css/content-block.css',
             'css/entity-block.css',
             'css/form-help.css',
             'css/form-control.css',
             'css/next-block.css',
             'css/length-marker.css',
             'css/track-marker.css',
             'css/personal-details.css',
             'css/announces.css',
             'css/ann-block.css',
             'css/entity-text-block.css',
             'vendor/pygments/css/pygments.css',
             'css/entity-pagination.css',
             'css/footer.css' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {%- endassets -%}
{%- endblock styles -%}

{%- block templates -%}
  {{- super() -}}
  <script id="announcest" type="text/template">
    <% #extra %>
      <div id="new-title" class="content-block entity-block">
        <div class="slidable">
          <h2>Создайте новое объявление</h2>
        </div>
        <div class="block-body hidden">
          <div class="today-field"></div>
          <div class="form-help">
            <p>
              Здесь можно создать объявление,
              которое будет транслироваться в топиках Вашего блога, или
              во всех публичных топиках всех авторов, если вы администратор.
              Заголовок объявления обязателен, его длина до
              50 символов, текст объявления обязателен. Объявление будет
              опубликовано, или будет скрыто, в зависимости от состояния
              соответствующего флага.
            </p>
          </div>
          <div class="form-form">
            <div class="form-group-a">
              <input class="form-control"
                     id="headline"
                     name="headline"
                     placeholder="Введите заголовок"
                     required
                     type="text">
            </div>
            <div class="form-group-a">
              <div class="length-marker">
                Осталось: <span id="length-marker">1024</span>
              </div>
              <textarea class="form-control"
                        id="body"
                        name="body"
                        placeholder="введите текст объявления"
                        required
                        rows="8"></textarea>
            </div>
            <div class="checkbox">
              <input id="heap"
                     name="heap"
                     class="custom-checkbox"
                     type="checkbox">
              <label for="heap">Показывать в блогах</label>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block"
                      id="submit"
                      name="submit"
                      type="button">
                Создать
              </button>
            </div>
          </div>
        </div>
      </div>
    <% /extra %>
    <% #pagination.announces %>
      {{- show_announce() -}}
    <% /pagination.announces %>
    <% ^pagination.announces %>
      <div class="flashed-alert next-block">
        На текущий момент у вас нет объявлений.
      </div>
    <% /pagination.announces %>
    <% #pv %>
      {{- show_pv() -}}
    <% /pv %>
  </script>
{%- endblock templates -%}

{%- block scripts -%}
  {{- super() -}}
  <script>let page={{page}},ses="{{cu.ses}}";</script>
  {%- assets filters='rjsmin', output='generic/js/announces/announces.js',
             'js/render-menu.js',
             'js/render-footer.js',
             'js/check-auth.js',
             'js/ping.js',
             'js/close-topflashed.js',
             'js/error-403.js',
             'js/slide-page.js',
             'js/check-pc.js',
             'js/check-data.js',
             'js/check-br.js',
             'js/render-tf.js',
             'js/check-next.js',
             'js/adjust-frame.js',
             'js/set-margin.js',
             'js/adjust-image.js',
             'js/click-image.js',
             'js/mark-input-error.js',
             'js/track-marker.js',
             'js/blur-body-an.js',
             'js/scroll-panel.js',
             'js/format-datetime.js',
             'js/render-pv.js',
             'js/announces/announces.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
