{% extends "base.html" %}
{%- from "macros/_common.html" import show_pv -%}
{%- from "macros/_pictures.html" import album_statistic -%}

{%- block title_part -%}Альбом {{ suffix }}{%- endblock title_part -%}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/pictures/album.css',
             'css/base.css',
             'css/menu.css',
             'css/page-content.css',
             'css/flashed-alert.css',
             'css/flashed-error.css',
             'css/entity-block.css',
             'vendor/bootstrap/css/glyphicons.css',
             'css/form-control.css',
             'css/form-help.css',
             'css/personal-details.css',
             'css/next-block.css',
             'css/today-field.css',
             'css/progress-block.css',
             'css/upload-form.css',
             'css/items-row-block.css',
             'css/albums.css',
             'css/entity-pagination.css',
             'css/footer.css' -%}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {%- endassets -%}
{%- endblock styles -%}

{%- block templates -%}
  {{- super() -}}
  {{ album_statistic(status) }}
  <script id = "albumt" type="text/template">
    <div id="statistic-block" class="entity-block"></div>
    <div id="album-block" class="entity-block next-block">
      <div class="tools-panel">
        <button type="button"
                id="go-home"
                class="btn-info btn-sm"
                title="вернуться к списку альбомов">
          <span class="glyphicon glyphicon-home"
                aria-hidden="true"></span>
        </button>
        <% #extra %>
          <button type="button"
                  id="album-reload"
                  class="btn-default btn-sm"
                  title="обновить">
            <span class="glyphicon glyphicon-refresh"
                  aria-hidden="true"></span>
          </button>
          <button type="button"
                  id="upload-new"
                  class="btn-primary btn-sm"
                  title="добавить картинку">
            <span class="glyphicon glyphicon-upload"
                  aria-hidden="true"></span>
          </button>
        <% /extra %>
        <% ^extra %>
          <button type="button"
                  id="album-first-page"
                  class="btn-default btn-sm"
                  title="в начало альбома">
            <span class="glyphicon glyphicon-circle-arrow-left"
                  aria-hidden="true"></span>
          </button>
        <% /extra %>
      </div>
      <% #extra %>
        <div id="progress-block" class="hidden">
          <img alt="progress show"
               width="48"
               height="48"
               src="{{ url_for('static', path='images/upload.gif') }}">
        </div>
        <div id="create-form-block">
          <div class="today-field"></div>
          <div class="form-help">
            <p>
              Выберите файл изображения, процесс выгрузки начнётся
              автоматически. Поддерживаются файлы JPEG, PNG и GIF форматов.
              Максимальный размер файла ограничен &mdash; 5МиБ. Длина
              имени файла не может превышать 128 символов. После загрузки
              файл будет верифицирован и доступен в списке ниже.
            </p>
          </div>
          <div class="form-form">
            <form id="uploadform"
                  class="form" method="POST"
                  role="form" novalidate
                  enctype="multipart/form-data">
              <div class="form-group-a">
                <input accept="image/jpeg,image/png,image/gif"
                       id="image"
                       name="image"
                       type="file">
              </div>
              <div class="form-group hidden">
                <input class="btn btn-default"
                       id="image-submit"
                       name="image-submit"
                       type="submit"
                       value="Отправить">
              </div>
            </form>
          </div>
        </div>
      <% /extra %>
      <% #pagination %>
        <% #pagination.pictures %>
          <div class="items-row-block bordered">
            <% #longer %>
              <div class="album-header-panel"
                   data-suffix="<% suffix %>"
                   title="<% filename %>">
                <span class="glyphicon glyphicon-picture"
                      aria-hidden="true"></span>&nbsp;<% parsed %>
              </div>
            <% /longer %>
            <% ^longer %>
              <div class="album-header-panel"
                   data-suffix="<% suffix %>">
                <span class="glyphicon glyphicon-picture"
                      aria-hidden="true"></span>&nbsp;<% filename %>
              </div>
            <% /longer %>
          </div>
        <% /pagination.pictures %>
      <% /pagination %>
      <% ^pagination %>
        <div id="no-albums" class="flashed-alert">
          В альбоме пока нет изображений.
        </div>
      <% /pagination %>
    </div>
    <% #pv %>
      {{- show_pv() -}}
    <% /pv %>
  </script>
  <script id="picturet" type="text/template">
    <div class="stat-block pic-stat-block hidden">
      <div class="personal-details statistic-block item-statistic">
        <div class="column bordered">Файл:</div>
        <div class="column bordered"
             title="<% picture.filename %>"><% picture.parsed %></div>
        <div class="column bordered">Загружен:</div>
        <div class="column bordered item-date-field">
          <% picture.uploaded %>
        </div>
        <div class="column bordered">Формат:</div>
        <div class="column bordered"><% picture.format %></div>
        <div class="column bordered">Размер:</div>
        <div class="column bordered">
          <% picture.width %>&times;<% picture.height %>
        </div>
        <div class="column">Размер файла:</div>
        <div class="column"><% picture.volume %></div>
      </div>
      <div class="picture-body next-block">
        <img alt="<% picture.suffix %>"
             class="pb"
             width="<% picture.width %>"
             height="<% picture.height %>"
             src="<% picture.url %>">
      </div>
      <div id="link-form" class="album-form hidden">
        <div class="form-group-a">
          <input type="text"
                 id="copy-box"
                 class="form-control"
                 name="copy-box"
                 value="<% picture.url %>">
        </div>
        <div class="form-group-a">
          <button id="copy-button"
                  type="button"
                  data-clipboard-target="#copy-box"
                  class="btn-sm btn-primary btn-block">
            скопировать в буфер обмена
          </button>
        </div>
      </div>
      <div id="md-form" class="album-form hidden">
        <div class="form-group-a">
          <input type="text"
                 id="copy-box-b"
                 class="form-control"
                 name="copy-box-b"
                 value="![<% picture.suffix %>](<% picture.path %>)">
        </div>
        <div class="form-group-a">
          <button id="copy-button-b"
                  type="button"
                  data-clipboard-target="#copy-box-b"
                  class="btn-sm btn-primary btn-block">
            скопировать в буфер обмена
          </button>
        </div>
      </div>
      <div id="remove-form" class="album-form hidden">
        <div class="form-group-a">
          <button id="rem-pic-button"
                  type="button"
                  title="удалить безвозвратно"
                  data-suffix="<% picture.suffix %>"
                  class="btn-sm btn-danger">
            <span class="glyphicon glyphicon-remove-sign"
                  aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="item-tools-panel">
        <button type="button"
                title="ссылка здесь"
                class="btn-sm btn-primary copy-link">
          <span class="glyphicon glyphicon-link"
                aria-hidden="true"></span>
        </button>
        <button type="button"
                title="код здесь"
                class="btn-sm btn-success copy-md-code">
          <span class="glyphicon glyphicon-barcode"
                aria-hidden="true"></span>
        </button>
        <button type="button"
                title="удалить"
                class="btn-sm btn-default trash-button">
          <span class="glyphicon glyphicon-trash"
                aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </script>
{%- endblock templates -%}

{%- block scripts -%}
  {{- super() -}}
  <script>let ses="{{cu.ses}}",page={{page}},suffix="{{suffix}}";</script>
  {%- assets filters='rjsmin', output='generic/js/pictures/album.js',
             'js/render-menu.js',
             'js/render-footer.js',
             'js/check-auth.js',
             'js/ping.js',
             'js/close-topflashed.js',
             'js/check-data.js',
             'js/check-br.js',
             'js/slide-page.js',
             'js/check-pc.js',
             'js/format-datetime.js',
             'js/check-selector.js',
             'js/show-state-form.js',
             'js/show-rename-form.js',
             'js/scroll-panel.js',
             'js/show-error.js',
             'js/render-tf.js',
             'js/render-pv.js',
             'js/reload.js',
             'js/change-status.js',
             'js/rename-album.js',
             'js/mark-input-error.js',
             'js/copy-this.js',
             'js/pictures/album.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
