<!DOCTYPE html>
<html lang="ru">
  <head>
    {%- block metas -%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- endblock metas -%}
    {%- block title -%}
    <title>
      {{ config.get('SNAME') }}:
      {%- block title_part -%}{%- endblock title_part -%}
    </title>
    {%- endblock title -%}
    {%- block styles -%}
    <link rel="icon"
          href="{{ url_for('favicon') }}"
          type="image/vnd.microsoft.icon">
    {%- endblock styles -%}
    {%- block templates -%}
      <script id="ealertt" type="text/template">
        <div id="ealert" class="flashed-error hidden">
          <%{ message }%>
        </div>
      </script>
      <script id="cookiesalertt" type="text/template">
        <div id="cookies-alert">
          <div id="cookies-message">
            Для правильной работы сайта
            мы используем <i>cookies</i>, без них авторизация будет
            невозможна. Отказаться от приёма <i>cookies</i> можно в настройках
            браузера. Скрыть это сообщение можно голубой кнопкой. Желаем вам
            приятного web-сёрфинга...
          </div>
          <div id="cookies-options">
            <button type="button"
                    class="btn-sm btn-info ok-button">
              OK
            </button>
            <button type="button"
                    class="btn-sm btn-danger deny-button">
              Отказаться
            </button>
          </div>
        </div>
      </script>
    {%- endblock templates -%}
  </head>
  <body>
    <main>
      <nav id="navigation">
        <div id="brand-logo">
          <a class="navbar-brand"
             href="{{ url_for('index') }}">
            <img alt="logo"
                 src="{{ url_for('static', path='images/logo.png') }}"
                 width="28"
                 height="28">
          </a>
        </div>
        <div class="menu-button">
          <button type="button"
                  title="menu"
                  class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="menu-box">
          <div class="navbar-menu">
            <div class="menu-item">
              <a href="#" class="menu-item-link">
                Контент <b class="caret"></b>
              </a>
              <div class="items-box">
                <div class="menu-list-item">
                  <a href="" class="item-link">
                    Авторы
                  </a>
                </div>
                <div class="menu-list-item">
                  <a href="" class="item-link">
                    Паблик
                  </a>
                </div>
                {%- if cu -%}
                <div role="separator" class="divider"></div>
                <div class="menu-list-item">
                  <a href="" class="item-link">
                    Люди
                  </a>
                </div>
                <div class="menu-list-item">
                  <a href="" class="item-link">
                    Своё
                  </a>
                </div>
                <div class="menu-list-item">
                  <a href="" class="item-link">
                    В ленте
                  </a>
                </div>
                {%- endif -%}
                {%- if cu and cu['weight'] >= 250 -%}
                <div role="separator" class="divider"></div>
                <div class="menu-list-item">
                  <a href="" class="item-link">
                    Закрытое
                  </a>
                </div>
                <div class="menu-list-item">
                  <a href="" class="item-link">
                    Комментарии
                  </a>
                </div>
                {%- endif -%}
              </div>
            </div>
          {%- if cu and cu['weight'] >= 50 -%}
            <div class="menu-item">
              <a href="#" class="menu-item-link">
                Инструменты <b class="caret"></b>
              </a>
              <div class="items-box">
                <div class="menu-list-item">
                  <a href="" class="item-link">
                    Ссылки
                  </a>
                </div>
                <div class="menu-list-item">
                  <a href="" class="item-link">
                    Черновики
                  </a>
                </div>
                <div role="separator" class="divider"></div>
                {%- if cu['weight'] >= 150 -%}
                  <div class="menu-list-item">
                    <a href="" class="item-link">
                      Картинки
                    </a>
                  </div>
                {%- endif -%}
                {%- if cu['weight'] >= 100 -%}
                  <div class="menu-list-item">
                    <a href="" class="item-link">
                      Объявления
                    </a>
                  </div>
                {%- endif -%}
              </div>
            </div>
          {%- endif -%}
          {%- if cu and cu['weight'] >= 250 -%}
            <div class="menu-item">
              <a href="#" class="menu-item-link">
                Webmaster <b class="caret"></b>
              </a>
              <div class="items-box">
                {%- if cu['weight'] == 255 -%}
                <div class="menu-list-item">
                  <a href="" class="item-link">
                    Инструменты
                  </a>
                </div>
                <div role="separator" class="divider"></div>
                {%- endif -%}
                <div class="menu-list-item">
                  <a href="" class="item-link">
                    Ссылки
                  </a>
                </div>
                <div class="menu-list-item">
                  <a href="" class="item-link">
                    Картинки
                  </a>
                </div>
                <div role="separator" class="divider"></div>
                <div class="menu-list-item">
                  <a href="" class="item-link">
                    Текущий лог
                  </a>
                </div>
                <div class="menu-list-item">
                  <a href="" class="item-link">
                    Предыдущий лог
                  </a>
                </div>
              </div>
            </div>
          {%- endif -%}
          </div>
          <div class="navbar-menu-right">
            {%- if cu -%}
              <div class="menu-item-a">
                <div class="menu-user-ava"
                     style="background: url({{ cu.get('ava') }})"></div>
                <div class="menu-user-link">
                  <a href="#"
                     {%- if cu.get('username') | length > 10 -%}
                       title="{{ cu.get('username') }}"
                     {%- endif %}
                     class="menu-item-link">
                    {%- if cu.get('username') | length > 10 -%}
                    {{ cu.get('username')[:10] }}... <b class="caret"></b>
                    {%- else -%}
                    {{ cu.get('username') }} <b class="caret"></b>
                    {%- endif -%}
                  </a>
                  <div class="items-box items-box-a">
                    <div class="menu-list-item">
                      <a href="" class="item-link">
                        Профиль
                      </a>
                    </div>
                    <div class="menu-list-item">
                      <a href="" class="item-link">
                        Приваты
                      </a>
                    </div>
                    <div role="separator" class="divider"></div>
                    <div class="menu-list-item">
                      <a href="/?realm=logout" class="item-link">
                        Выйти
                      </a>
                    </div>
                    <div class="menu-list-item">
                      <a href="/?realm=logoute" class="item-link">
                        Выйти везде
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            {%- else -%}
              <div class="menu-item">
                <a href="#" class="menu-item-link">
                  Действия <b class="caret"></b>
                </a>
                <div class="items-box items-box-a">
                  <div class="menu-list-item">
                    <a href="/?realm=login" class="item-link">
                      Логин
                    </a>
                  </div>
                  <div class="menu-list-item">
                    <a href="/?realm=rfp" class="item-link">
                      Забыли пароль?
                    </a>
                  </div>
                  <div class="menu-list-item">
                    <a href="/?realm=reg" class="item-link">
                      Регистрация
                    </a>
                  </div>
                </div>
              </div>
            {%- endif -%}
          </div>
        </div>
      </nav>
      <div id="page-content">
        {%- if flashed -%}
          <div class="top-flashed-block">
            {%- for message in flashed -%}
              <div class="flashed-message">
                <div class="flashed-alert closeable"
                     title="Close this message">
                  {{ message|safe }}
                </div>
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}
        <div id="mc"
             class="{% if listed %}listed{% else %}nonlisted{% endif %}">
          {%- block page_body -%}{%- endblock page_body -%}
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-content">
        <div class="footer-left">
          <img alt="right-finger"
               src="{{ url_for('static', path='images/footer-left.png') }}"
               width="24"
               height="24">
        </div>
        <div class="footer-center">
          <a id="footer-link"
             data-date={{ config.get('SDATE') }}
             data-name="{{ config.get('SNAME') }}"
             href="{{ url_for('index') }}">
            &copy; {{ config.get('SNAME') }}, {{ config.get('SDATE') }} г.
          </a>
        </div>
        <div class="footer-right">
          <img alt="left-finger"
               src="{{ url_for('static', path='images/footer-right.png') }}"
               width="24"
               height="24">
        </div>
      </div>
    </footer>
    {%- block scripts -%}
    {%- assets filters='rjsmin', output='generic/js/vendor-pub.js',
               'vendor/clipboard.js',
               'vendor/jquery.js',
               'vendor/luxon.js',
               'vendor/mustache.js',
               'js/custom.js',
               'vendor/spark-md5.js' -%}
      <script src="{{ ASSET_URL }}"></script>
    {%- endassets -%}
    {%- endblock scripts -%}
  </body>
</html>
