{% extends "base.html" %}
{%- from "macros/_admin.html" import show_picture -%}
{%- from "macros/_common.html" import show_empty -%}
{%- from "macros/_common.html" import show_pv -%}

{%- block title_part -%}Картинки {{ author }}{%- endblock title_part -%}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/admin/auth-pictures.css',
             'css/base.css',
             'css/menu.css',
             'css/page-content.css',
             'css/flashed-alert.css',
             'css/flashed-error.css',
             'css/today-field.css',
             'css/empty-message.css',
             'css/entity-block.css',
             'css/next-block.css',
             'css/form-control.css',
             'vendor/bootstrap/css/glyphicons.css',
             'css/personal-details.css',
             'css/admpictures.css',
             'css/entity-pagination.css',
             'css/footer.css' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {%- endassets -%}
{%- endblock styles -%}

{%- block templates -%}
  {{- super() -}}
  <script id="picturest" type="text/template">
    <% #pagination.pictures %>
      <div class="entity-block">
        {{- show_picture() -}}
      </div>
    <% /pagination.pictures %>
    <% ^pagination.pictures %>
      {{- show_empty('У автора нет файлов изображений.') -}}
    <% /pagination.pictures %>
    <% #pv %>
      {{- show_pv() -}}
    <% /pv %>
  </script>
{%- endblock templates -%}

{%- block scripts -%}
  {{- super() -}}
  <script>let ses="{{cu.ses}}",page={{page}},author="{{author}}";</script>
  {%- assets filters='rjsmin', output='generic/js/admin/auth-pictures.js',
             'js/render-menu.js',
             'js/render-footer.js',
             'js/check-auth.js',
             'js/ping.js',
             'js/close-topflashed.js',
             'js/slide-page.js',
             'js/check-pc.js',
             'js/check-data.js',
             'js/check-br.js',
             'js/check-next.js',
             'js/render-tf.js',
             'js/adjust-image.js',
             'js/format-datetime.js',
             'js/render-pv.js',
             'js/hide-button.js',
             'js/rem-pic.js',
             'js/error-403.js',
             'js/check-incomming.js',
             'js/admin/auth-pictures.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
