{% extends "base.html" %}
{%- block title_part -%}Панель вебмастера{%- endblock title_part -%}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/admin/tools.css',
             'css/base.css',
             'css/menu.css',
             'css/page-content.css',
             'css/flashed-alert.css',
             'css/flashed-error.css',
             'css/mc.css',
             'css/entity-block.css',
             'css/form-help.css',
             'css/form-control.css',
             'css/form-labeled.css',
             'vendor/bootstrap/css/glyphicons.css',
             'css/options-panel.css',
             'css/next-block.css',
             'css/footer.css' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {%- endassets -%}
{%- endblock styles -%}

{%- block templates -%}
  {{- super() }}
  <script id="toolst" type="text/template">
    <div class="entity-block">
      <div id="new-user-editor">
        <div class="form-help">
          <p>
            Здесь можно создать новый аккаунт пользователя, для этого
            заполните форму ниже. Имейте ввиду, псевдоним должен быть
            уникальным, может содержать от 3-х до 16-ти знаков, включая
            латинские буквы, буквы русского алфавита, цифры, дефис,
            знак подчёркивания, точку и должен начинаться с латинской или
            русской буквы. Адрес электронной почты нового пользователя
            должен умещаться в 128 знаков, адрес должен быть уникальным и
            незарегистрированным в сервисе.
          </p>
        </div>
        <div class="form-form">
          <form>
            <div class="form-group">
              <div class="form-label">
                <label for="username">Псевдоним:</label>
              </div>
              <div class="form-input">
                <input class="form-control"
                       id="username"
                       name="username"
                       autocomplete="new-password"
                       placeholder="введите желаемый псевдоним"
                       required
                       type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="form-label">
                <label for="address">Адрес эл.почты:</label>
              </div>
              <div class="form-input">
                <input class="form-control"
                       id="address"
                       name="address"
                       autocomplete="new-password"
                       placeholder="введите адрес эл.почты"
                       required
                       type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="form-label">
                <label for="password">Пароль:</label>
              </div>
              <div class="form-input">
                <input class="form-control"
                       id="password"
                       name="password"
                       autocomplete="new-password"
                       placeholder="введите желаемый пароль"
                       required
                       type="password">
              </div>
            </div>
            <div class="form-group">
              <div class="form-label">
                <label for="confirmation">Повторить:</label>
              </div>
              <div class="form-input">
                <input class="form-control"
                       id="confirmation"
                       name="confirmation"
                       autocomplete="new-password"
                       placeholder="повторите пароль"
                       required
                       type="password">
              </div>
            </div>
            <div class="form-group">
              <div class="form-label"></div>
              <div class="form-input">
                <button type="button"
                        class="btn btn-primary btn-block"
                        id="user-submit"
                        name="user-submit">
                  Создать пользователя
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div id="default-perms-editor" class="hidden">
        <div class="form-help">
          <p>
            Здесь задаётся группа вновь регистрируемых пользователей.
            Просто выберите желаемую группу в списке ниже, всем вновь
            регистрируемым пользователям, включая аккаунты, создаваемые
            администратором сервиса, будет присвоена эта пользовательская
            группа.
          </p>
        </div>
        <div class="form-group">
          <select id="select-group">
            <% #groups %>
              <option value="<% . %>"><% . %></option>
            <% /groups %>
          </select>
        </div>
      </div>
    </div>
    <div id="options-block" class="options-panel next-block">
      <button id="create-user"
              type="button"
              class="btn-success btn-sm"
              title="новый участник">
        <span class="glyphicon glyphicon-user"
              aria-hidden="true"></span>
      </button>
      <button id="edit-perms"
              type="button"
              class="btn-sm btn-primary"
              title="установить группу по-умолчанию">
        <span class="glyphicon glyphicon-wrench"
              aria-hidden="true"></span>
      </button>
    </div>
  </script>
{%- endblock templates -%}

{%- block scripts -%}
  {{- super() -}}
  <script>let ses="{{ cu.ses }}";</script>
  {%- assets filters='rjsmin', output='generic/js/admin/tools.js',
             'js/render-menu.js',
             'js/render-footer.js',
             'js/check-auth.js',
             'js/ping.js',
             'js/close-topflashed.js',
             'js/check-data.js',
             'js/check-br.js',
             'js/slide-page.js',
             'js/show-error.js',
             'js/scroll-panel.js',
             'js/check-pc.js',
             'js/check-selector.js',
             'js/admin/tools.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
