<p>
  Привет.
</p>
<p>
  Вы получили это сообщение, потому что запросили регистрацию на
  <a href="{{ index }}">нашем сайте</a>.
  Если ничего подобного Вы не делали, возможно, кто-то ошибочно ввёл Ваш адрес
  в форму запроса на регистрацию, просто проигнорируйте это сообщение и не
  переходите по предолженной ниже ссылке, она выгорит автоматически.
</p>
<p>
  Для завершения регистрации учётной записи в нашем сервисе
  проследуйте по <a href="{{ target }}">ссылке</a>, которая приведёт Вас к
  регистрационной форме. Заполните эту форму, задайте свой псевдоним в сервисе
  и пароль. В дальнейшем эти данные позволят Вам войти в сервис и получить
  доступ к его возможностям.
</p>
<p>
  Пожалуйста, имейте ввиду, что ссылка будет действительна в течение
  {{ length }} часов, а повторный запрос на регистрацию
  возможен не ранее чем через {{ interval }} часа. Не передавайте ссылку
  третьим лицам, это может привести к полной утере контроля над учётной
  записью.
</p>
<p>
  Благодарим Вас за явно выраженный интерес к нашему сервису и желаем
  приятного веб-сёрфинга.
</p>
