<p>
  Привет, {{ username }}.
</p>
<p>
  Вы получили это сообщение, потому что запросили сброс забытого пароля на
  <a href="{{ index }}">нашем сайте</a>.
  Если ничего подобного Вы не делали, возможно, кто-то ошибочно ввёл Ваш адрес
  в форму запроса на сброс пароля, просто проигнорируйте это сообщение и не
  переходите по предолженной ниже ссылке, она выгорит автоматически.
</p>
<p>
  Для сброса забытого пароля Вашей учётной записи проследуйте по
  <a href="{{ target }}">этой ссылке</a>, она приведёт Вас к
  форме сброса пароля. Заполните эту форму, задайте свой новый пароль,
  с ним Вы сможете войти в сервис и получить доступ к его возможностям.
</p>
<p>
  Пожалуйста, имейте ввиду, что ссылка будет действительна в течение
  {{ length }} часов, а повторный запрос на сброс забытого пароля
  возможен не ранее чем через {{ interval }} часа. Не передавайте ссылку
  третьим лицам, это может привести к полной утере контроля над учётной
  записью.
</p>
<p>
  Благодарим Вас за явно выраженный интерес к нашему сервису и желаем
  приятного веб-сёрфинга.
</p>
