{%- macro show_arts(apoint, lpoint) -%}
  <div class="content-block entity-block <% #extra %>next-block<% /extra %>">
    <h2>
      <a class="entity-link"
         title="<% title %>"
         href="{{ apoint }}<% slug %>"><% title80 %></a>
    </h2>
    <div class="entity-attributes">
      <div class="author-avatar avatar"
           style="background:url(<% ava %>"></div>
      <div class="entity-info">
        <h3>
          <a class="author-profile-link"
             href="/people/<% author %>"><% author %></a>
        </h3>
        <div class="personal-details">
          <% #published %>
            <div class="column">Опубликован:</div>
            <div class="column date-field"><% published %></div>
          <% /published %>
          <div class="column">Отредактирован:</div>
          <div class="column date-field"><% edited %></div>
          <div class="column">Статус:</div>
          <div class="column"><% state %></div>
        </div>
      </div>
    </div>
    <div class="entity-details">
      <div class="labeled labeled-text labeled-info">
        <span class="glyphicon glyphicon-eye-open"
              aria-hidden="true"></span><span
              class="value"><% viewed %></span>
      </div>
      <div class="labeled labeled-text
                  labeled-success like-block">
        <span class="glyphicon glyphicon-thumbs-up"
              aria-hidden="true"></span><span
              class="value"><% likes %></span>
      </div>
      <div class="labeled labeled-text
                  labeled-danger dislike-block">
        <span class="glyphicon glyphicon-thumbs-down"
              aria-hidden="true"></span><span
              class="value"><% dislikes %></span>
      </div>
      <div class="labeled labeled-text
                  <% #commented %>labeled-info<% /commented %>
                  <% ^commented %>
                  labeled-warning<% /commented %>">
        <span class="glyphicon glyphicon-comment"
              aria-hidden="true"></span><span
              class="value"><% commentaries %></span>
      </div>
    </div>
    <div class="entity-summary">
      <% #summary %>
        <p><% summary %></p>
      <% /summary %>
      <% ^summary %>
        <div class="draft-empty">
          Черновик создан, самое время наполнить его текстом.
        </div>
      <% /summary %>
    </div>
    <div class="entity-alias">
      <button type="button"
              class="btn-sm btn-primary alias-link"
              data-link="/<% suffix %>">
        подробности и комментарии
      </button>
    </div>
    <div class="entity-labels-block">
      <div class="labels-label">Метки:</div>
      <div class="labels">
        <% #labels %>
        <a class="label-link" href="{{ lpoint }}<% . %>"><% . %></a>,
        <% /labels %>
        <% ^labels %>
          автор забыл установить метки.
        <% /labels %>
      </div>
    </div>
  </div>
{%- endmacro -%}
