{% extends "base.html" %}
{%- from "macros/_common.html" import show_empty -%}
{%- from "macros/_common.html" import show_pv -%}

{%- block title_part -%}Авторы{%- endblock title_part -%}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/blogs/authors.css',
             'css/base.css',
             'css/menu.css',
             'css/page-content.css',
             'css/flashed-error.css',
             'css/flashed-alert.css',
             'css/empty-message.css',
             'css/today-field.css',
             'css/entity-block.css',
             'css/entity-attributes.css',
             'css/avatar.css',
             'css/personal-details.css',
             'css/next-block.css',
             'css/entity-pagination.css',
             'css/cookies-alert.css',
             'css/form-control.css',
             'css/authors.css',
             'css/footer.css' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {%- endassets -%}
{%- endblock styles -%}

{%- block templates -%}
  {{- super() -}}
  <script id="messaget" type="text/template">
    <% ^cu %>
      <div class="top-flashed-block">
        <div class="flashed-message">
          <div class="flashed-alert closeable"
               title="close">
            Успейте зарегистрировать свой оригинальный юзернэйм.
          </div>
        </div>
      </div>
    <% /cu %>
  </script>
  <script id="authorst" type="text/template">
    <% #pagination.blogs %>
      <div class="entity-block">
        <div class="entity-attributes">
          <div class="author-avatar avatar"
               style="background:url(<% ava %>)"></div>
          <div class="entity-info">
            <h3>
              <a class="author-profile-link"
                 href="/blogs/<% username %>"><% username %></a>
            </h3>
            <div class="personal-details">
              <div class="column">Зарегистрирован:</div>
              <div class="column date-field"><% registered %></div>
              <div class="column">Обновлён:</div>
              <div class="column date-field"><% last_published %></div>
            </div>
          </div>
        </div>
        <div class="blog-description"><% description %></div>
      </div>
    <% /pagination.blogs %>
    <% ^pagination.blogs %>
      {{ show_empty('Сайт в стадии разработки, попробуйти зайти позже.') }}
    <% /pagination.blogs %>
    <% #pv %>
      {{- show_pv() -}}
    <% /pv %>
  </script>
{%- endblock templates -%}

{%- block scripts -%}
  {{- super() -}}
  <script>let ses="{{cu.ses}}",page={{page}};</script>
  {%- assets filters='rjsmin', output='generic/js/blogs/authors.js',
             'js/render-menu.js',
             'js/render-footer.js',
             'js/check-auth.js',
             'js/ping.js',
             'js/close-topflashed.js',
             'js/error-403.js',
             'js/check-pc.js',
             'js/check-data.js',
             'js/check-br.js',
             'js/check-next.js',
             'js/format-datetime.js',
             'js/render-pv.js',
             'js/set-cookies.js',
             'js/slide-page.js',
             'js/blogs/authors.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
