{% extends "base.html" %}
{%- from "macros/_common.html" import show_empty -%}
{%- from "macros/_common.html" import show_pv -%}
{%- from "macros/_drafts.html" import show_arts -%}

{%- block title_part -%}{{ username }} блог{%- endblock title_part -%}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/blogs/blog.css',
             'css/base.css',
             'css/menu.css',
             'css/page-content.css',
             'css/flashed-error.css',
             'css/flashed-alert.css',
             'css/today-field.css',
             'css/empty-message.css',
             'css/content-block.css',
             'css/entity-block.css',
             'css/description-block.css',
             'css/entity-attributes.css',
             'css/avatar.css',
             'css/personal-details.css',
             'css/entity-details.css',
             'css/entity-summary.css',
             'css/form-control.css',
             'vendor/bootstrap/css/glyphicons.css',
             'css/entity-labels.css',
             'css/next-block.css',
             'css/drafts.css',
             'css/entity-pagination.css',
             'css/cookies-alert.css',
             'css/footer.css' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {%- endassets -%}
{%- endblock styles -%}

{%- block templates -%}
  {{- super() -}}
  <script id="draftst" type="text/template">
    <% #author %>
      <div class="entity-block description-block"><% author %></div>
    <% /author %>
    <% #pagination.articles %>
      {{ show_arts('/arts/a/', '/blogs/' + username + '/t/') }}
    <% /pagination.articles %>
    <% ^pagination.articles %>
      {%- if cu['username'] == username %}
        {{ show_empty('У вас пока нет публичных статей.') }}
      {%- else -%}
        {{ show_empty(
          'У автора нет публичных статей, попробуйте зайти позже.') }}
      {%- endif -%}
    <% /pagination.articles %>
    <% #pv %>
      {{ show_pv() }}
    <% /pv %>
  </script>
{%- endblock templates -%}

{%- block scripts -%}
  {{- super() -}}
  <script>let page={{page}},username="{{username}}",ses="{{cu.ses}}";</script>
  {%- assets filters='rjsmin', output='generic/js/blogs/blog.js',
             'js/render-menu.js',
             'js/render-footer.js',
             'js/check-auth.js',
             'js/ping.js',
             'js/close-topflashed.js',
             'js/error-403.js',
             'js/check-data.js',
             'js/check-br.js',
             'js/slide-page.js',
             'js/check-pc.js',
             'js/check-next.js',
             'js/format-datetime.js',
             'js/fix-comma.js',
             'js/set-cookies.js',
             'js/render-pv.js',
             'js/render-tf.js',
             'js/check-incomming.js',
             'js/blogs/blog.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
