{% extends "base.html" %}

{%- block title_part -%}
  {{ username }} с меткой {{ label }}
{%- endblock title_part -%}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/blogs/labeled.css',
             'css/base.css',
             'css/menu.css',
             'css/footer.css' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {%- endassets -%}
{%- endblock styles -%}

{%- block scripts -%}
  {{- super() -}}
  {%- assets filters='rjsmin', output='generic/js/blogs/labeled.js',
             'js/render-menu.js',
             'js/render-footer.js',
             'js/temporary.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
