{% extends "base.html" %}
{% from "macros/_common.html" import show_empty %}

{%- block title_part -%}
{{ config.get('ITITLE') }}
{%- endblock title_part -%}

{%- block metas -%}
{{- super() -}}
<meta name="description" content="{{ config.get('SDESC') }}">
{%- endblock metas -%}

{%- block page_body -%}
  {{-show_empty('Сайт в стадии разработки, попробуйте зайти позже...') -}}
{%- endblock page_body -%}

{%- block styles -%}
{{- super() -}}
<link rel="author" href="/humans.txt">
{%- assets filters='cssmin', output='generic/css/main/index.css',
           'css/base.css',
           'css/menu.css',
           'css/page-content.css',
           'css/flashed-alert.css',
           'css/empty-message.css',
           'css/today-field.css',
           'css/footer.css' -%}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
{%- endassets -%}
{%- endblock styles -%}

{%- block scripts -%}
{{- super() -}}
{%- assets filters='rjsmin', output='generic/js/main/index.js',
           'js/render-menu.js',
           'js/render-tf.js',
           'js/check-pc.js',
           'js/close-topflashed.js',
           'js/render-footer.js',
           'js/main/index.js' -%}
  <script src="{{ ASSET_URL }}"></script>
{%- endassets -%}
{%- endblock scripts -%}
