{% extends "base.html" %}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/arts/art.css',
             'css/base.css',
             'css/menu.css',
             'css/flashed-alert.css',
             'css/flashed-error.css',
             'css/page-content.css',
             'css/mc.css',
             'css/content-block.css',
             'css/topic-head.css',
             'css/entity-attributes.css',
             'css/avatar.css',
             'css/personal-details.css',
             'css/entity-details.css',
             'vendor/bootstrap/css/glyphicons.css',
             'css/common-details.css',
             'css/form-control.css',
             'css/entity-copy-link.css',
             'css/announce-block.css',
             'css/entity-text-block.css',
             'css/colors.css',
             'vendor/pygments/css/pygments.css',
             'css/entity-block.css',
             'css/entity-labels.css',
             'css/art.css',
             'css/next-block.css',
             'css/options-block.css',
             'css/commentaries.css',
             'css/cookies-alert.css',
             'css/footer.css' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {%- endassets -%}
{%- endblock styles -%}
{%- block templates -%}
  {{- super() -}}
  <script id="sanswert" type= "text/template">
    <% #perm %>
      <div class="entity-block next-block new-answer-block hidden">
        <div class="new-answer-form">
          <div class="form-group">
            <textarea id="answer-editor"
                      class="form-control"
                      placeholder="введите текст комментария"
                      rows="8"></textarea>
          </div>
          <div class="form-group submit-group">
            <button class="btn btn-primary"
                    type="button"
                    id="answer-submit"
                    data-pid="<% parent_id %>">
              Отправить
            </button>
            <button class="btn btn-default"
                    type="button"
                    id="cancel-answer">
              Отменить
            </button>
          </div>
        </div>
      </div>
    <% /perm %>
    <% ^perm %>
      <div class="flashed-error to-be-hidden comment-alert">
        <% message %>
      </div>
    <% /perm %>
  </script>
  <script id="brancht" type="text/template">
    <div id="branch-<% id %>" class="commentaries-branch">
      <% #deleted %>
        <div class="deleted-root-commentary next-block">
          Комментарий удалён
        </div>
      <% /deleted %>
      <% ^deleted %>
        <div class="root-commentary next-block">
          <div class="commentary-head">
            <div class="commentary-author-avatar avatar"
                 style="background: url(<% author.ava %>)"></div>
            <div class="commentary-attributes">
              <h4 class="commentary-author-name">
                <a class="author-profile-link"
                   href="/people/<% author.username %>">
                  <% author.username %>
                </a>
              </h4>
              <div class="commentary-info-line date-field">
                <% created %>
              </div>
            </div>
          </div>
          <div class="commentary-body entity-text-block">
            <%{ html }%>
          </div>
          <% #tools %>
            <div class="commentary-options">
              <% #answer %>
              <button type="button"
                      title="ответить"
                      data-id="<% id %>"
                      class="btn-sm btn-primary answer-button">
                <span class="glyphicon glyphicon-comment"
                      aria-hidden="true"></span>
              </button>
              <% /answer %>
              <% #rem %>
              <button type="button"
                      title="удалить"
                      class="btn-sm btn-default trash-button">
                <span class="glyphicon glyphicon-trash"
                      aria-hidden="true"></span>
              </button>
              <button type="button"
                      title="удалить безвозвратно"
                      data-id="<% id %>"
                      class="btn-sm btn-danger hidden
                             remove-commentary
                             remove-button">
                <span class="glyphicon glyphicon-trash"
                      aria-hidden="true"></span>
              </button>
              <% /rem %>
            </div>
          <% /tools %>
        </div>
      <% /deleted %>
    </div>
  </script>
  <script id="scommentt" type="text/template">
    <% #perm %>
      <div class="entity-block next-block new-comment-block hidden">
        <div class="new-comment-form">
          <div class="form-group">
            <textarea id="comment-editor"
                      class="form-control"
                      placeholder="введите текст комментария"
                      rows="8"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-primary"
                    type="button"
                    id="comment-submit"
                    data-aid="<% article_id %>">
              Отправить
            </button>
          </div>
        </div>
      </div>
    <% /perm %>
    <% ^perm %>
      <div class="flashed-error hidden comment-alert">
        <% message %>
      </div>
    <% /perm %>
  </script>
  <script id="artt" type="text/template">
    <div id="topic-head" class="content-block">
      <h1 title="<% art.title %>">
        <% art.title %>
      </h1>
      <div class="entity-attributes">
        <div class="author-avatar avatar"
             style="background:url(<% art.ava %>)"></div>
        <div class="entity-info">
          <h3>
            <a class="author-profile-link"
               href="/people/<% art.author %>"><% art.author %></a>
          </h3>
          <div class="personal-details">
            <% #art.published %>
              <div class="column">Опубликован:</div>
              <div class="column date-field"><% art.published %></div>
            <% /art.published %>
            <div class="column">Отредактирован:</div>
            <div class="column date-field"><% art.edited %></div>
            <div class="column">Статус:</div>
            <div class="column"><% art.state %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="common-details">
      <div class="entity-blog-link">
        <a href="/blogs/<% art.author %>"><% art.author %>&nbsp;блог</a>
      </div>
      <div class="entity-details">
        <div class="labeled labeled-text labeled-info viewed-ind"
             title="количество просмотров">
          <span class="glyphicon glyphicon-eye-open"
                aria-hidden="true"></span><span
                class="value"><% art.viewed %></span>
        </div>
        <div class="labeled labeled-text labeled-success like-block"
             title="количество нра">
          <span class="glyphicon glyphicon-thumbs-up"
                aria-hidden="true"></span><span
                class="value"><% art.likes %></span>
        </div>
        <div class="labeled labeled-text labeled-danger dislike-block"
             title="количество ненра">
          <span class="glyphicon glyphicon-thumbs-down"
                aria-hidden="true"></span><span
                class="value"><% art.dislikes %></span>
        </div>
        <div class="labeled labeled-text
                    <% #art.commented %>labeled-info
                    <% /art.commented %>
                    <% ^art.commented %>labeled-warning
                    <% /art.commented %>"
             title="количество комментариев">
          <span class="glyphicon glyphicon-comment"
                aria-hidden="true"></span><span
                class="value"><% art.commentaries %></span>
        </div>
      </div>
      <div class="entity-copy-link">
        <button type="button"
                class="btn-xs btn-default btn-block copy-link">
          поделиться ссылкой
        </button>
        <div id="link-copy-form" class="hidden">
          <div class="form-group-a">
            <input id="copy-box"
                   class="form-control"
                   type="text"
                   name="copy-box"
                   value="<% art.jump %>">
          </div>
          <div class="form-group-a">
            <button id="copy-button"
                    type="button"
                    data-clipboard-target="#copy-box"
                    class="btn-xs btn-primary btn-block">
              скопировать в буфер обмена
            </button>
          </div>
        </div>
        <% #own %>
          <div class="editor-block next-block">
            <button type="button"
                    id="editor-button"
                    class="btn-xs btn-success btn-block"
                    data-link="/drafts/<% art.slug %>">
             редактор
            </button>
          </div>
        <% /own %>
      </div>
    </div>
    <% #anns %>
      <div class="announce-block">
        <div class="slidable"
             title="скрыть объявление">
          <h3>Объявление: <% headline %></h3>
        </div>
        <div class="block-body announce-body">
          <div class="entity-text-block"><%{ html }%></div>
        </div>
      </div>
    <% /anns %>
    <div class="text-block entity-text-block"><%{ art.html }%></div>
    <div class="entity-labels-block">
      <div class="labels-label">Метки:</div>
      <div class="labels">
        <% #art.labels %>
          <a class="label-link" href="/blogs/<% art.author %>/t/<% . %>">
            <% . %></a>,
        <% /art.labels %>
        <% ^art.labels %>
          автор забыл установить метки.
        <% /art.labels %>
      </div>
    </div>
    <div class="options-block">
      <button id="move-screen-up"
              type="button"
              class="btn-default btn-sm"
              title="прокрутить наверх">
        <span class="glyphicon glyphicon-hand-up"
              aria-hidden="true"></span>
      </button>
      <% #follow %>
        <button id="tape-in"
                type="button"
                title="добавить в ленту"
                class="btn-success btn-sm">
          <span class="glyphicon glyphicon-hand-right"
                aria-hidden="true"></span>
        </button>
      <% /follow %>
      <% #like %>
        <% #liked %>
        <button id="like-button"
                type="button"
                title="уже нравится"
                class="btn-danger btn-sm">
          <span class="glyphicon glyphicon-thumbs-up white-space"
                aria-hidden="true"></span><span
                class="value"><% art.likes %></span>
        </button>
        <% /liked %>
        <% ^liked %>
          <button id="like-button"
                  type="button"
                  title="нравится"
                  class="btn-success btn-sm">
            <span class="glyphicon glyphicon-thumbs-up white-space"
                  aria-hidden="true"></span><span
                  class="value"><% art.likes %></span>
          </button>
        <% /liked %>
      <% /like %>
      <% #dislike %>
        <button id="dislike-button"
                type="button"
                title="не нравится"
                class="btn-warning btn-sm">
          <span class="glyphicon glyphicon-thumbs-down white-space"
                aria-hidden="true"></span><span
                class="value"><% art.dislikes %></span>
        </button>
      <% /dislike %>
      <% #follower %>
        <button id="tape-out"
                type="button"
                title="удалить из ленты"
                class="btn-warning btn-sm">
          <span class="glyphicon glyphicon-hand-left"
                aria-hidden="true"></span>
        </button>
      <% /follower %>
      <% #cens %>
        <button id="censor-this"
                type="button"
                title="блокировать"
                class="btn-danger btn-sm">
          <span class="glyphicon glyphicon-lock"
                aria-hidden="true"></span>
        </button>
      <% /cens %>
      <% #admin %>
        <button id="special-case"
                type="button"
                title="раздеть ссылки"
                class="btn-primary btn-sm">
          <span class="glyphicon glyphicon-link"
                aria-hidden="true"></span>
        </button>
      <% /admin %>
    </div>
    <div class="next-block comments-options">
      <div class="comment-header">
        <% #art.commented %>
          Комментарии: (<% art.commentaries %>)
        <% /art.commented %>
        <% ^art.commented %>
          Комментарии закрыты...
        <% /art.commented %>
      </div>
      <div class="comments-options-block">
        <% #art.commented %>
          <button id="new-comment-add"
                  type="button"
                  title="высказаться"
                  class="btn-sm btn-primary">
            <span class="glyphicon glyphicon-comment"
                  aria-hidden="true"></span>
          </button>
        <% /art.commented %>
      </div>
    </div>
  </script>
{%- endblock templates -%}

{%- block scripts -%}
  {{- super() -}}
  <script>let ses="{{cu.ses}}",slug="{{slug}}";</script>
  {%- assets filters='rjsmin', output='generic/js/arts/art.js',
             'js/render-menu.js',
             'js/render-footer.js',
             'js/check-auth.js',
             'js/ping.js',
             'js/close-topflashed.js',
             'js/ping-user.js',
             'js/show-art.js',
             'js/show-copy-form.js',
             'js/click-image.js',
             'js/check-data.js',
             'js/check-br.js',
             'js/format-datetime.js',
             'js/copy-this.js',
             'js/fix-comma.js',
             'js/check-pc.js',
             'js/adjust-frame.js',
             'js/set-margin.js',
             'js/adjust-image.js',
             'js/slide-page.js',
             'js/set-cookies.js',
             'js/count-clicks.js',
             'js/move-screen-up.js',
             'js/scroll-panel.js',
             'js/show-error.js',
             'js/follow.js',
             'js/undress-links.js',
             'js/censor-this.js',
             'js/hide-announce.js',
             'js/hide-button.js',
             'js/check-incomming.js',
             'js/show-commentaries.js',
             'js/show-children.js',
             'js/error-403.js',
             'js/arts/art.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
