{% extends "base.html" %}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/arts/cart.css',
             'css/base.css',
             'css/menu.css',
             'css/footer.css' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {%- endassets -%}
{%- endblock styles -%}

{%- block scripts -%}
  {{- super() -}}
  {%- assets filters='rjsmin', output='generic/js/arts/cart.js',
             'js/render-menu.js',
             'js/render-footer.js',
             'js/temporary.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
