{% extends "base.html" %}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/arts/cart.css',
             'css/base.css',
             'css/menu.css',
             'css/flashed-alert.css',
             'css/flashed-error.css',
             'css/page-content.css',
             'css/mc.css',
             'css/content-block.css',
             'css/topic-head.css',
             'css/entity-attributes.css',
             'css/avatar.css',
             'css/personal-details.css',
             'css/entity-details.css',
             'vendor/bootstrap/css/glyphicons.css',
             'css/common-details.css',
             'css/form-control.css',
             'css/entity-copy-link.css',
             'css/entity-text-block.css',
             'css/colors.css',
             'vendor/pygments/css/pygments.css',
             'css/entity-labels.css',
             'css/art.css',
             'css/options-block.css',
             'css/footer.css' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {%- endassets -%}
{%- endblock styles -%}

{%- block templates -%}
  {{- super() -}}
  <script id="artt" type="text/template">
    <div id="topic-head" class="content-block">
      <h1 title="<% art.title %>">
        <% art.title %>
      </h1>
      <div class="entity-attributes">
        <div class="author-avatar avatar"
             style="background:url(<% art.ava %>)"></div>
        <div class="entity-info">
          <h3>
            <a class="author-profile-link"
               href="/people/<% art.author %>"><% art.author %></a>
          </h3>
          <div class="personal-details">
            <% #art.published %>
              <div class="column">Опубликован:</div>
              <div class="column date-field"><% art.published %></div>
            <% /art.published %>
            <div class="column">Отредактирован:</div>
            <div class="column date-field"><% art.edited %></div>
            <div class="column">Статус:</div>
            <div class="column"><% art.state %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="common-details">
      <div class="entity-blog-link">
        <a href="/blogs/<% art.author %>"><% art.author %>&nbsp;блог</a>
      </div>
      <div class="entity-details">
        <div class="labeled labeled-text labeled-info viewed-ind"
             title="количество просмотров">
          <span class="glyphicon glyphicon-eye-open"
                aria-hidden="true"></span><span
                class="value"><% art.viewed %></span>
        </div>
        <div class="labeled labeled-text labeled-success like-block"
             title="количество нра">
          <span class="glyphicon glyphicon-thumbs-up"
                aria-hidden="true"></span><span
                class="value"><% art.likes %></span>
        </div>
        <div class="labeled labeled-text labeled-danger dislike-block"
             title="количество ненра">
          <span class="glyphicon glyphicon-thumbs-down"
                aria-hidden="true"></span><span
                class="value"><% art.dislikes %></span>
        </div>
        <div class="labeled labeled-text
                    <% #art.commented %>labeled-info
                    <% /art.commented %>
                    <% ^art.commented %>labeled-warning
                    <% /art.commented %>"
             title="количество комментариев">
          <span class="glyphicon glyphicon-comment"
                aria-hidden="true"></span><span
                class="value"><% art.commentaries %></span>
        </div>
      </div>
      <div class="entity-copy-link">
        <button type="button"
                class="btn-xs btn-default btn-block copy-link">
          поделиться ссылкой
        </button>
        <div id="link-copy-form" class="hidden">
          <div class="form-group-a">
            <input id="copy-box"
                   class="form-control"
                   type="text"
                   name="copy-box"
                   value="<% art.jump %>">
          </div>
          <div class="form-group-a">
            <button id="copy-button"
                    type="button"
                    data-clipboard-target="#copy-box"
                    class="btn-xs btn-primary btn-block">
              скопировать в буфер обмена
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="text-block entity-text-block"><%{ art.html }%></div>
    <div class="entity-labels-block">
      <div class="labels-label">Метки:</div>
      <div class="labels">
        <% #art.labels %>
          <a class="label-link"
             href="/arts/c/t/<% . %>"><% . %></a>,
        <% /art.labels %>
        <% ^art.labels %>
          автор забыл установить метки.
        <% /art.labels %>
      </div>
    </div>
    <div class="options-block">
      <button id="move-screen-up"
              type="button"
              class="btn-default btn-sm"
              title="прокрутить наверх">
        <span class="glyphicon glyphicon-hand-up"
              aria-hidden="true"></span>
      </button>
      <button id="censor-this"
              type="button"
              title="разблокировать"
              class="btn-info btn-sm">
        <span class="glyphicon glyphicon-share"
              aria-hidden="true"></span>
      </button>
    </div>
  </script>
{%- endblock templates -%}

{%- block scripts -%}
  {{- super() -}}
  <script>let slug="{{slug}}",ses="{{cu.ses}}";</script>
  {%- assets filters='rjsmin', output='generic/js/arts/cart.js',
             'js/render-menu.js',
             'js/render-footer.js',
             'js/check-auth.js',
             'js/ping.js',
             'js/close-topflashed.js',
             'js/show-art.js',
             'js/check-data.js',
             'js/check-br.js',
             'js/slide-page.js',
             'js/check-pc.js',
             'js/count-clicks.js',
             'js/format-datetime.js',
             'js/copy-this.js',
             'js/fix-comma.js',
             'js/adjust-frame.js',
             'js/set-margin.js',
             'js/adjust-image.js',
             'js/show-copy-form.js',
             'js/click-image.js',
             'js/censor-this.js',
             'js/scroll-panel.js',
             'js/arts/cart.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
