{% extends "base.html" %}
{%- from "macros/_common.html" import show_empty -%}
{%- from "macros/_common.html" import show_pv -%}
{%- from "macros/_drafts.html" import show_arts -%}

{%- block title_part -%}Ваша лента{%- endblock title_part -%}

{%- block styles -%}
  {{- super() -}}
  {%- assets filters='cssmin', output='generic/css/arts/lenta.css',
             'css/base.css',
             'css/menu.css',
             'css/page-content.css',
             'css/flashed-alert.css',
             'css/flashed-error.css',
             'css/today-field.css',
             'css/empty-message.css',
             'css/content-block.css',
             'css/entity-block.css',
             'css/entity-attributes.css',
             'css/avatar.css',
             'css/personal-details.css',
             'css/entity-details.css',
             'css/entity-summary.css',
             'css/form-control.css',
             'vendor/bootstrap/css/glyphicons.css',
             'css/entity-labels.css',
             'css/next-block.css',
             'css/drafts.css',
             'css/entity-pagination.css',
             'css/cookies-alert.css',
             'css/footer.css' -%}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {%- endassets -%}
{%- endblock styles -%}

{%- block templates -%}
  {{- super() -}}
  <script id="draftst" type="text/template">
    <% #pagination.articles %>
      {{ show_arts('/arts/a/', '/arts/l/t/') }}
    <% /pagination.articles %>
    <% ^pagination.articles %>
      {{ show_empty('В вашей ленте нет ни одного автора.') }}
    <% /pagination.articles %>
    <% #pv %>
      {{- show_pv() -}}
    <% /pv %>
  </script>
{%- endblock templates -%}

{%- block scripts -%}
  {{- super() -}}
  <script>let ses="{{cu.ses}}",page={{page}};</script>
  {%- assets filters='rjsmin', output='generic/js/arts/lenta.js',
             'js/render-menu.js',
             'js/render-footer.js',
             'js/check-auth.js',
             'js/ping.js',
             'js/close-topflashed.js',
             'js/check-pc.js',
             'js/set-cookies.js',
             'js/show-drafts.js',
             'js/error-403.js',
             'js/check-data.js',
             'js/check-br.js',
             'js/render-tf.js',
             'js/check-next.js',
             'js/fix-comma.js',
             'js/slide-page.js',
             'js/format-datetime.js',
             'js/render-pv.js',
             'js/check-incomming.js',
             'js/arts/lenta.js' -%}
    <script src="{{ ASSET_URL }}"></script>
  {%- endassets -%}
{%- endblock scripts -%}
