.statistic-block .bordered {
  margin: 0 0 6px 0;
  padding: 4px 6px 4px 0;
  border-bottom: thin dashed lightgray;
}

.personal-details {
  font-size: 1em;
}

.stat-block .statistic-block {
  margin: 0 0 6px 0;
}

.tools-panel, .item-tools-panel {
  text-align: center;
}

#create-form-block, #find-pic-block {
  margin: 6px 0 0;
  border-bottom: 2px solid gainsboro;
  padding: 0 4px 4px 4px;
}

#no-albums {
  margin: 6px 0 0 0;
}

.form-group-a {
  margin: 0 0 6px;
}

#title-change, #copy-box, #copy-box-b {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#remove-form {
  text-align: center;
}
