.comments-options {
  display: flex;
  margin: 4px 0 0;
}

.comment-header {
  width: 100%;
  text-shadow: 0 0 3px lightgray;
  font-style: italic;
  padding: 3px 0 0;
  margin: 0;
}

#comment-editor, #answer-editor {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.form-group {
  margin: 6px 0 0;
}

.comment-alert {
  margin: 4px 0 0;
}
