.entity-text-block {
  text-align: justify;
}

.entity-text-block h2 {
  text-align: left;
  font-size: 1.2em;
  font-weight: 500;
  margin: 4px 0;
}

.entity-text-block a {
  color: royalblue;
  text-shadow: 0 0 3px lightgray;
  text-decoration: none;
}

.entity-text-block a:hover {
  text-decoration: underline;
  text-shadow: 0 0 3px skyblue;
}

.entity-text-block p {
  margin: 0 0 6px;
  line-height: 1.32;
}

.entity-text-block p code {
  padding: 2px 4px;
  font-size: 0.9em;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  font-family: Menlo, Monaco,Consolas, "Courier New", monospace;
}

.entity-text-block ul {
  margin: 0 12px 6px 12px;
  padding: 0 0 0 26px;
}

.entity-text-block ol {
  padding: 0 0 0 26px;
  margin: 0 20px 6px 26px;
}

.entity-text-block li {
  text-align: justify;
  margin: 0 0 6px 0;
}

.entity-text-block li p {
  margin: 0;
  padding: 0;
}

.entity-text-block hr {
  margin: 6px 0 8px 0;
  border-color: #d3ddd3;
}

.entity-text-block .image-par {
  text-align: center;
}

.entity-text-block img {
  cursor: pointer;
}

.entity-text-block blockquote {
  font-style: italic;
  font-size: 1.1em;
  text-align: justify;
  color: slategray;
  border-left: 6px solid lightslategray;
  padding: 6px 12px 6px 6px;
  margin: 2px 0 8px;
}

.entity-text-block blockquote p {
  margin: 0 6px 6px;
}

.entity-text-block .codehilite pre {
  margin: 0;
  padding: 8px;
  font-size: 0.95em;
}

.entity-text-block .codehilite {
  margin: 2px 0 8px;
}

.entity-text-block .codehilite code {
  white-space: pre;
  font-family: Menlo, Monaco,Consolas, "Courier New", monospace;
}

.entity-text-block pre {
  border: 1px solid #d9dcec;
  border-radius: 3px;
  overflow: auto;
}

.entity-text-block iframe {
  border: 0;
}

.embedded-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 8px 0;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

.coral {
  color: coral;
}

.tomato {
  color: tomato;
}

.orangered {
  color: orangered;
}

.salmon {
  color: salmon;
}

.firebrick {
  color: firebrick;
}

.red {
  color: red;
}

.crimson {
  color: crimson;
}

.gold {
  color: gold;
}

.chocolate {
  color: chocolate;
}

.saddlebrown {
  color: saddlebrown;
}

.sienna {
  color: sienna;
}

.maroon {
  color: maroon;
}

.purple {
  color: purple;
}

.indigo {
  color: indigo;
}

.deepskyblue {
  color: deepskyblue;
}

.dodgerblue {
  color: dodgerblue;
}

.slateblue {
  color: slateblue;
}

.steelblue {
  color: steelblue;
}

.royalblue {
  color: royalblue;
}

.blue {
  color: blue;
}

.mediumblue {
  color: mediumblue;
}

.slategray {
  color: slategray;
}

.darkslategray {
  color: darkslategray;
}

.lightseagreen {
  color: lightseagreen;
}

.darkcyan {
  color: darkcyan;
}

.darkgreen {
  color: darkgreen;
}

.seagreen {
  color: seagreen;
}
