.items-row-block {
  margin: 6px 0 0;
}

.bordered {
  border-bottom: thin solid lightgray;
}

.album-header-panel {
  padding: 8px 12px;
  background-color: ghostwhite;
  background-image: linear-gradient(to top, whitesmoke, ghostwhite);
}

.album-header-panel:hover {
  cursor: pointer;
}

.clicked-item {
  background-color: steelblue;
  background-image: linear-gradient(to top, cornflowerblue, steelblue);
  color: snow;
}

.items-row-block .stat-block {
  padding: 6px 12px 6px;
}

.item-statistic {
  background-color: seashell;
  border-radius: 5px;
  box-shadow: 0 0 8px gray;
}

.item-statistic {
  padding: 6px 16px;
}

.picture-body {
  text-align: center;
  margin: 0 0 4px 0;
}
