.details-block {
  display: flex;
}

.user-avatar {
  width: 160px;
  height: 160px;
  margin: 0 12px 0 0;
}

.user-info h3 {
  margin: 0 0 4px 0;
  font-style: italic;
  text-shadow: 0 0 3px lightgray;
  font-weight: 500;
  font-size: 1.1em;
}

.user-info .personal-details {
  font-size: 1em;
}

.column {
  margin: 0 0 6px 0;
}

.bordered {
  border-bottom: thin dashed lightgray;
}

.description-text {
  margin: 0 0 4px;
}

#description-editor {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.description-options {
  padding: 4px 0 0;
  border-top: 1px dashed lightgray;
  text-align: center;
}

.blog-description {
  text-align: justify;
  font-style: italic;
  text-shadow: 0 0 6px lightgray;
  margin: 0;
}

.blog-link-block {
  font-style: italic;
  text-shadow: 0 0 3px lightgray;
  text-align: center;
}

.blog-link-block a, .otherlink {
  color: royalblue;
  text-decoration: none;
}

.blog-link-block a:hover {
  text-decoration: underline;
  text-shadow: 0 0 3px skyblue;
}

.actions-header h3 {
  margin: 0 0 6px 0;
  font-weight: 500;
  font-size: 1.2em;
}

.actions-body {
  text-align: center;
}

.relation {
  font-style: italic;
  text-shadow: 0 0 3px lightgray;
  text-align: justify;
}

.relation a:hover {
  text-decoration: underline;
  text-shadow: 0 0 3px skyblue;
}

.statistic-table {
  display: grid;
  grid-template-columns: 3fr 20%;
  font-style: italic;
  text-shadow: 0 0 4px silver;
}

.column-left {
  padding: 6px;
  text-align: left;
}

.column-right {
  padding: 6px;
  text-align: right;
}
